{% extends "layouts/default.html" %}

{% block content %}

    <div class="container">
  <div class="jumbotron">
    <h1>Welcome to SCGIS</h1>
      <h3>Our Mission and Vision</h3>
    <p>The Society for Conservation GIS (SCGIS) is a non-profit organization that assists conservationists
        worldwide in using GIS through communication, networking, scholarships, and training.
        Membership is open to anyone looking to engage in a GIS community to help them achieve their personal or
        organizational conservation goals.</p>
      <p>The mission of the Society for Conservation GIS (SCGIS) is to build community, provide knowledge,
          and support individuals using Geographic Information Systems (GIS) and science for the conservation
          of natural resources and cultural heritage. </p>
  </div>
</div>

{% endblock content %}

